/*first image*/
.image-container {
    margin-top: 43px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
  }

  .image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 20px;
    width: 250px;
  }

  .rounded-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }

  .image-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }