  /*table*/
  table {
    border-collapse: collapse;
    width: 600px;
    margin: 0 auto; /* Center the table */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  caption {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }